# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CV_FOLDER=recruitment/cvs
CLOUDINARY_COMPANY_LOGO_FOLDER=recruitment/company-logos
CLOUDINARY_CANDIDATE_AVATAR_FOLDER=recruitment/candidate-avatars

# Database
DB_URL=jdbc:mysql://localhost:3306/recruitment_db1
DB_USERNAME=root
DB_PASSWORD=root

# JWT
JWT_SECRET=
JWT_EXPIRATION=86400000

GOOGLE_CLIENT_ID=