/* ===== SIDEBAR ===== */
.sidebar {
  width: 260px;
  min-width: 260px;
  height: 100%;
  background: #ffffff;
  padding: 16px 14px;
  overflow-y: auto;
  border-radius: 10px;
}

/* ===== HEADER ===== */
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.top span {
  font-size: 14px;
  font-weight: 600;
  color: #111827;
}

.top button {
  font-size: 12px;
  color: #ef4444;
  background: none;
  border: none;
  cursor: pointer;
}

.top button:hover {
  text-decoration: underline;
}

/* ===== GROUP ===== */
.group {
  margin-bottom: 18px;
}

/* header mỗi group */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.header span {
  font-size: 13px;
  font-weight: 600;
  color: #374151;
}

.header button {
  font-size: 11px;
  color: #9ca3af;
  background: none;
  border: none;
  cursor: pointer;
}

.header button:hover {
  color: #ef4444;
}

/* ===== ITEM ===== */
.item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  color: #374151;
  margin-bottom: 6px;
  cursor: pointer;
}

.item input {
  width: 14px;
  height: 14px;
  cursor: pointer;
}

/* hover nhẹ */
.item:hover {
  color: #111827;
}


.group:not(:last-child)::after {
  content: "";
  display: block;
  height: 1px;
  background: #f1f5f9;
  margin-top: 12px;
}

/*  SCROLL */
.sidebar::-webkit-scrollbar {
  width: 6px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 4px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}